<!-- section -->
    {% load static %}
        <br>
      <!-- section -->
      <section class="layout_padding about_section">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="row">
                     <div class="row">
                        <div class="col-md-7 p-relative r-left">
                           <div class="full back_blog text_align_center padding_right_left_15">
                              <img src="{% static 'images/hakkımızdafoto.jpg' %}"width="400" height="400" alt="#" />
                           </div>
                        </div>
                        <div class="col-md-5">
                           <div class="full heading_s1">
                              <h3>Hakkımızda</h3>
                              <p>Bir ders projesi sayesinde geliştirilen sitemizde, üye girişi yaparak fotoğraf ekleyebilir ve var olan fotoğrafları puanlayabilirsiniz.Hayallerinizdeki fotoğrafları bekliyoruz... :)</p>
                           </div>
                           <div class="full">
                              <a class="read_more_bt" href="/hakkimizda">Read More</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end section -->
      <section class="layout_padding what_we_do">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="full heading_s1">
                     <h3>Fotoğraf Galerisi</h3>
                     <p>Paylaşın, Hatırlayın, Eğlenin...</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-3">
                  <div class="full decorate_blog">
                     <img src="{% static 'images/Atatürk.jpg' %}" alt="#" />
                     <a class="decorate_blog_bt" href="hd.html">Mustafa Kemal ATATÜRK</a>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full decorate_blog">
                     <img src="{% static 'images/sonbaharr.jpg' %}" width="150" height="200" alt="#" />
                     <a class="decorate_blog_bt" href="od.html">Sonbahar Mevsimi</a>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full decorate_blog">
                     <img src="{% static 'images/mavigöz.jpg' %}"width="150" height="200"  alt="#" />
                     <a class="decorate_blog_bt" href="fd.html">Ödüllü Fotoğraf</a>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full decorate_blog">
                     <img src="{% static 'images/kedy.jpg' %}" alt="#" />
                     <a class="decorate_blog_bt" href="ld.html">Kedi</a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <div class="full">
                     <a class="read_more_bt float-right" href="/login">Siz de paylaşın</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end section -->
      <!-- section -->
      <section class="layout_padding design_layout">
         <div class="container">
            <div class="row">
               <div class="col-md-7">
                  <div class="full">
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="full heading_s1">
                     <h3>Resimler ile<br>Zamanda Yolculuk</h3>
                     <p>Sizi geçmişinize dönderebilecek bazı fotograflar</p>
                  </div>
                  <div class="full">
                     <a class="read_more_bt" href="/login">Siz de ekleyin</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end section -->
      <!-- section -->
      <section class="layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="full heading_s1">
                     <h3>Yaşayan Fotoğraflar</h3>
                     <p>İnsan neslinin dünyada devamı bunlar ile mümkündür...</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="blog_style">
                     <div class="full news_blog">
                        <img src="{% static 'images/yaşayan foto1.jpg' %}"width="505" height="505" alt="#" />
                     </div>
                     <div class="full post_colum">
                        <ul>
                           <li>Post By : Millenium</li>
                           <li><a href="#">Beğeni <img src="{% static 'images/like_btn.png' %}" alt="#" /></a></li>
                           <li><a href="#">Yorum <img src="{% static 'images/msg_btn.png' %}" alt="#" /></a></li>
                           <li><a href="#">Paylaşmak <img src="{% static 'images/Share_btn.png' %}" alt="#" /></a></li>
                        </ul>
                     </div>
                     <div class="full">
                        <h3>Bu Dünyanın Çocukları</h3>
                        <p>Geleceğe umutla bakan çocuklar yetiştirebilmek ve onlara daha güzel yarınlar sunabilmek önemlidir.Çocuklar gelecek dünyanın sahipleridir...</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="blog_style">
                     <div class="full news_blog">
                        <img src="{% static 'images/yasayanfoto2.PNG' %}"width="505" height="505" alt="#" />
                     </div>
                     <div class="full post_colum">
                        <ul>
                           <li>Post By : Millenium</li>
                           <li><a href="#">Beğeni <img src="{% static 'images/like_btn.png' %}" alt="#" /></a></li>
                           <li><a href="#">Yorum <img src="{% static 'images/msg_btn.png' %}" alt="#" /></a></li>
                           <li><a href="#">Paylaşmak <img src="{% static 'images/Share_btn.png' %}" alt="#" /></a></li>
                        </ul>
                     </div>
                     <div class="full">
                        <h3>Çağlayan</h3>
                        <p>Su hayattır...</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end section -->
          <!-- section -->
      <section class="layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="full heading_s1 text_align_center">
                     <h3>Sizden Gelenler</h3>
                  </div>
                  <div class="testimonial_slider">
                     <div class="full">
                        <div class="client_slider_main2">
                           <div id="testimonial2" class="client_slider_main owl-carousel owl-theme">
                              <div class="item">
                                 <div class="row">
                                    <div class="col-md-3">
                                       <div class="full">
                                          <div class="center"> <img src="{% static 'images/layout_img/t4.jpg' %}" width="150" height="150"alt="#" /> </div>
                                       </div>
                                    </div>
                                    <div class="col-md-9">
                                       <div class="full">
                                          <div class="testi_head">
                                             <h4>Lianna john</h4>
                                             <p>Home Rentel</p>
                                          </div>
                                       </div>
                                       <div class="full testi_slide">
                                          <p><img src="{% static 'images/layout_img/quate_left_test.png' %}"  alt="#" />Bu sitede keyifli vakit geçirdiğimi söyleyebilirim</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="item">
                                 <div class="row">
                                    <div class="col-md-3">
                                       <div class="full">
                                          <div class="center"> <img src="{% static 'images/layout_img/testimo_profile.png' %}" alt="#" /> </div>
                                       </div>
                                    </div>
                                    <div class="col-md-9">
                                       <div class="full">
                                          <div class="testi_head">
                                             <h4>Rosy Mike</h4>
                                             <p>Home Rentel</p>
                                          </div>
                                       </div>
                                       <div class="full testi_slide">
                                          <p><img src="{% static 'images/layout_img/quate_left_test.png' %}" alt="#" />Merhaba herkese, Bu sayfayı keşfettiğim için mutluyum</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="item">
                                 <div class="row">
                                    <div class="col-md-3">
                                       <div class="full">
                                          <div class="center"> <img src="{% static 'images/layout_img/aslan.png' %}" width="150" height="150" alt="#" /> </div>
                                       </div>
                                    </div>
                                    <div class="col-md-9">
                                       <div class="full">
                                          <div class="testi_head">
                                             <h4>William Butter</h4>
                                             <p>Home Rentel</p>
                                          </div>
                                       </div>
                                       <div class="full testi_slide">
                                          <p><img src="{% static 'images/layout_img/quate_left_test.png' %}" alt="#" />Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end section -->

<!-- cpy -->
      <div class="cpy">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="full center">
                     <ul class="social_icon">
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/h_arikan3"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/playlist?list=PLIUezwWmVtFUq0RcsaBn8LR_o9R5psLPh"><i class="fa fa-youtube-play"></i></a></li>
                     </ul>
                  </div>
                  <div class="full text_align_center">
                     <p>© 2020 All Rights Reserved. <a href="https://html.design">html.design</a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- end cpy -->
      <!-- jQuery (necessary for Bootstrap's JavaScript) -->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- javascript -->
      <script src="{% static 'js/owl.carousel.js' %}"></script>
      <!-- wow animation -->
      <script src="{% static 'js/wow.js' %}"></script>
      <!-- menumaker -->
      <script src="{% static 'js/menumaker.js' %}"></script>
      <!-- custom js -->
      <script src="{% static 'js/custom.js' %}"></script>