      <!-- end footer -->
      {% load static %}
      <footer>
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="full footer_top">
                     <div class="container">
                        <div class="row">
                           <div class="col-sm-3">
                              <div class="full f_logo">
                                 <img src="{% static 'images/Millenium_Logo_2020.png' %}"width="275" height="100" alt="#" />
                              </div>
                              <div class="full">
                                 <p>Sizin için hazırladığımız iletişim panelimiz</p>
                              </div>
                           </div>
                           <div class="col-sm-3">
                              <div class="full heading_footer">
                                 <h3>Menu</h3>
                              </div>
                              <div class="full">
                                 <ul class="footer_link">
                                    <li><a href="/">Anasayfa</a></li>
                                    <li><a href="/hakkimizda">Hakkımızda</a></li>
                                    <li><a href="/fotograflarimiz">Fotoğraf galerisi</a></li>
                                    <li><a href="/blog">Sizden gelenler</a></li>
                                    <li><a href="/iletisim">İletişim</a></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="col-sm-3">
                              <div class="full heading_footer">
                                 <h3>Instagram</h3>
                              </div>
                              <div class="full">
                                 <ul class="footer_link_intas">
                                    <li>
                                        <img src="{% static 'images/profile_icon.png' %}"width="10" height="10" alt="#" />
                                       <a style="color:#ffff;" href="https://www.instagram.com/h_arikan3">H.arikan3</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="full heading_footer">
                                 <h3>Önerileriniz</h3>
                              </div>
                              <div class="full footer_form">
                                 <form>
                                    <fieldset>
                                       <div class="row">
                                          <div class="col-md-12">
                                             <div class="full">
                                                <input type="email" placeholder="Your Email" name="_email" />
                                             </div>
                                             <div class="full">
                                                <button>Geri Dönüş Sağlayın</button>
                                             </div>
                                          </div>
                                       </div>
                                    </fieldset>
                                 </form>
                              </div>
                           </div>
                           <div class="col-md-12">
                              <div class="row margin_top_50">
                                 <div class="col-md-10 offset-md-1">
                                    <div class="row">
                                       <div class="col-sm-4">
                                          <div class="full cont_info">
                                             <i class="fa fa-map-marker"></i>
                                              <ul>
                                             <li><a style="color:#ffff;" href="https://www.google.com/maps/place/Sakarya+Uygulamal%C4%B1+Bilimler+%C3%9Cniversitesi/@40.7400876,30.3322065,15z/data=!4m2!3m1!1s0x0:0x89b3513f59ab28cb?sa=X&ved=2ahUKEwiY1Y6T35f8AhUAQvEDHbNtCM8Q_BJ6BAhzEAg">Location</a></li>
                                              </ul>
                                          </div>
                                       </div>
                                       <div class="col-sm-4">
                                          <div class="full cont_info">
                                             <i class="fa fa-phone"></i>
                                             <span>Call +01 1234 567 890</span>
                                          </div>
                                       </div>
                                       <div class="col-sm-4">
                                          <div class="full cont_info">
                                             <i class="fa fa-envelope" style="font-size: 17px;"></i>
                                             <span>arikanhzl55@gmail.com</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->